<div style="height:10%; font-size:medium;background-color:lightgreen">
  <nav >
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/home/1" routerLinkActive="active">Home-1-user</a>
    <a routerLink="/home/2" routerLinkActive="active">Admin Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
    <a routerLink="/customers" routerLinkActive="active">Customers</a>
  </nav>
</div>
 
