<p>
  profile-management works!
</p>

<div *ngIf="profiles!=undefined">
  <ul style="list-style-type:none;" *ngFor="let profItem of profiles">
    <li>profile ID: {{profItem.profileID}}</li>
    <li>Name: {{profItem.Name}}</li>
    <li>Address: {{profItem.Address}}</li>
    <li><a routerLink="./edit/{{profItem.profileID}}">Edit profile</a></li>
  </ul>
</div>

<div *ngIf="id>0">
  <ul style="list-style-type:none;">
    <li>profile ID: {{profileInfo.profileID}}</li>
    <li>Name: {{profileInfo.Name}}</li>
    <li>Address: {{profileInfo.Address}}</li>
  </ul>
</div>

  

