<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{appName}}!
  </h1> 
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/home/1" routerLinkActive="active">Home-1-user</a>
    <a routerLink="/home/2" routerLinkActive="active">Admin Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
    <a routerLink="/employees" routerLinkActive="active">Employees page</a>
  </nav>
    <hr/>
    
</div>
<router-outlet></router-outlet>

