
.bodyContentstyle {
  padding: 5%;
  padding-top: 2%;
  background-color: white;
}

.headerContentstyle {
  background-color: white;
  text-align: center
}

.footerContentstyle {
  background-color: white;
}
